body {
  font-family: Helvetica;
}

header{
  height: 7em;
  background-color: #22418f;
  box-shadow: 4px 4px 60px rgba(0,0,0,.5); 
  margin-bottom: 30px;
}

.sticky-header {
  position: sticky;
  z-index: 1;
  top: 0;
}

.links {
  display: flex;
  overflow: hidden;
  margin-bottom: 1em;
  justify-content: space-between;
  font-size: 150%;
}

.links a {
  font-size: 100%;
}

.links a{
  padding-left: 1.5%;
  float: left;
  text-align: left;
  text-decoration: none;
  color: white;
  margin-right: 8px;
}


.dropdown-content a:hover, .update:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.title{
  text-align: right;
  float: right;
}